'.source.js':
    'ngController':
        'prefix': 'ng-controller'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}')
                    .controller('${2:Controller}', ${2:Controller});

                //  ${2:Controller} Controller
                ${2:Controller}.$inject =   [${3:dependencies}];
                function ${2:Controller}(${3:dependencies}) {
                    var vm  =  this;

                    //  activate logic
                    activate();

                    ////////

                    function activate() {
                        /* - */
                    }
                }

            })();
        """
        'description': 'Angular controller definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
