'.source.js':
    'ngFactory':
        'prefix': 'ng-factory'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}')
                    .factory('${2:factory}', ${2:factory});


                //  ${2:factory} factory
                ${2:factory}.$inject =  ['${3:dependencies}'];
                function ${2:factory}(${3:dependencies}) {
                    var service = {
                        ${4:function}: ${4:function}
                    };
                    return service;

                    ////////

                    function ${4:function}() {
                        /* - */
                    }
                }

            })();
        """
        'description': 'Angular factory (service) definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
