'.source.js':
    'ngFilter':
        'prefix': 'ng-filter'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}')
                    .filter('${2:filter}', ${2:filter});


                //  ${2:filter} filter
                function ${2:filter}() {
                    return ${2:filter}Filter

                    ////////

                    function ${2:filter}Filter(${3:params}) {

                        ////////
                        return ${3:params};
                    }
                }

            })();
        """
        'description': 'Angular filter service definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
