'.source.js':
    'ngModule':
        'prefix': 'ng-module'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}', [
                        '${2:dependencies}'
                    ]);

            })();
        """
        'description': 'Angular module definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
