'.source.js':
    'ngRoute':
        'prefix': 'ng-route'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}')
                    .run(appRun);

                appRun.$inject =    ['routerHelper'];
                function appRun(routerHelper) {

                    //  configure states
                    routerHelper.configureStates(getStates());
                }


                //  Retrieve states
                function getStates() {
                    var states = [
                        // ${2:state} state ['/${2:state}']
                        {
                            state   : '${2:state}',
                            config  : {
                                title       : '${2:state}',
                                url         : '/${2:state}',
                                templateUrl : 'app/${2:state}/${2:state}.html',
                                controller  : '${2:state}Controller',
                                controllerAs: '${2:state}',
                                params      : {
                                    ${3:param}  : ${4:value}
                                }
                            }
                        }
                    ];

                    ////////

                    return states;
                }

            })();
        """
        'description': 'Angular module states configuration'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
