'.source.js':
    'ngRoute':
        'prefix': 'ngroute'
        'body': """
            // Closure
            (function() {
                'use strict';


                // Module
                angular
                    .module('${1:module}')
                    .run(appRun);


                // Dependancy injection
                appRun.$inject = ['routerHelper'];


                // Run block
                function appRun(routerHelper) {

                    // configure application (module) states
                    routerHelper.configureStates(getStates());

                }


                // Retrieve states for the application
                function getStates() {

                    // return the application states
                    return [

                        // state : '${2:state}'
                        {
                            state: '${2:state}',
                            config: {
                                url: '/${2:state}',
                                templateUrl: 'app/${2:state}/${2:state}.html',
                                controller: '${2:State}Controller',
                                controllerAs: '${2:state}',
                                title: '${2:state}',
                                params: {
                                    ${3:param}: ${4:value}
                                }
                            }
                        }

                    ];

                }


            })();
        """
        'description': 'Angular module states configuration'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
    'ngState':
        'prefix': 'ngstate'
        'body': """
            // state : '${1:state}'
            {
                state: '${1:state}',
                config: {
                    url: '/',
                    templateUrl: 'app/${1:state}/${1:state}.html',
                    controller: '${1:State}Controller',
                    controllerAs: '${1:state}',
                    title: '${1:state}',
                    params: {
                        ${2:param}: ${3:value}
                    }
                }
            }
        """
        'description': 'Angular state object'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
