'.source.js':
    'ngService':
        'prefix': 'ngservice'
        'body': """
            // Closure
            (function() {
                'use strict';


                // Module
                angular
                    .module('${1:module}')
                    .service('${2:Service}', ${2:Service});


                // Dependancy injection
                ${2:Service}.$inject = ['${3:dependencies}'];


                // Service implementation
                function ${2:Service}(${3:dependencies}) {

                    // public members
                    this.${4:function} = ${4:function};


                    ////////

                    function ${4:function}() {
                        /* - */
                    }

                }


            })();
        """
        'description': 'Angular service definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
