'.source.js':
    'ngService':
        'prefix': 'ng-service'
        'body': """
            (function() {
                'use strict';


                //  Module
                angular
                    .module('${1:module}')
                    .service('${2:Service}', ${2:Service});


                //  Service
                ${2:Service}.$inject = ['${3:dependencies}'];
                function ${2:Service}(${3:dependencies}) {

                    this.${4:function} = ${4:function};

                    ////////

                    function ${4:function}() {
                        /* - */
                    }
                }

            })();
        """
        'description': 'Angular service definition'
        'rightLabelHTML': '<span style="color:#F0DA50; font-weight: bold;">AngularJS</span>'
